{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="form">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.content,{
                        'label': 'Введите содержание',
                        'required': false,
                        'attr': {
                            'class': 'form-control',
                            'rows'  : 10
                        }
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.file,{
                        'label': 'Выберите файл',
                        'required': false,
                        'attr':{
                            'class': 'form-control-file'
                        }
                    }) }}
                </div>

                <div class="form-check  ">
                    {{ form_widget(form.private, {'attr': {
                        'class': 'form-check-input'
                    }}) }}
                    {{ form_errors(form.private) }}
                    {{ form_label(form.private) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.submit,{
                        'label': 'Отправить'
                    }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
